.picker {
  position: fixed;
  height: auto;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  overflow: auto;

  display: flex;
  flex-direction: column;

  border: 1px solid black;
  background: white;
  padding: 1rem;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.left, .right {
  flex-grow: 1;
}

.resident {
  display: flex;
  flex-direction: row;
}

.resident button {
  width: 7rem;
  padding: 0.1rem 1rem;
  border-radius: 0rem;
  border: 1px solid black;
  cursor: pointer;
}

.resident button:hover {
  box-shadow: 0 0.5em 0.2em -0.4em #888;
  transform: translateY(-0.25em);
}

.resident button:active {
  box-shadow: 0 0.5em 0.2em -0.4em #888;
  transform: translateY(0em);
  box-shadow: none;
}

.soft_restricted > * + *,
.neutral > * + *,
.preferred > * + *,
.hard_restricted > * + * {
  margin-top: 0.5rem;
}

.hard_restricted {
  opacity: 0.5;
}

.constraints {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.constraints > span {
  display: inline-block;
  margin-left: 0.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
}

.hard_restricted .constraints > span {
  background: lightpink;
}

.soft_restricted .constraints > span {
  background: #ff8243;
}

.preferred .constraints > span {
  background: lightgreen;
}

.values {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  white-space: nowrap;
}

.difficulty {
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  background-color: hsla(0, 100%, 50%, var(--ratio));
  margin-left: 0.5rem;
  border: 1px solid black;
}
