.tally {
  height: 50vh;
  overflow: auto;
  width: 70vw;
}

.table {
  width: 100%;
  border-spacing: 0;
}

.table > * {
  text-align: right;
  margin: 0;
  padding: 0;
}

.table tr {
  height: 100%;
  margin: 0;
  padding: 0;
}

.table th {
  position: sticky;
  top: 0;
  background: white;
  border-bottom: 1px solid black;
}

.table td {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
}

.odd {
  background: #eee;
}

.even {
}

thead tr > * + * {
  text-align: center;
}

td.resident {
  text-align: left;
}

td.difficulty {
  background-color: hsla(0, 100%, 50%, var(--ratio));
}
